/* ==========
GOOGLE FONTS
========== */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap');

/* ==========
GENERAL
========== */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
  
html {
  height: 100%;
}
  
body {
  background: url("../images/8-ball-background.webp") top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  font-family: 'Nunito', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}

.game-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex-grow: 1;
}

/* ==========
HEADER
========== */
.heading h1 {
  font-style: italic;
  font-size: 60px;
  font-weight: 700;
  margin: 24px 0 8px 0;
}

.heading p {
  font-size: 20px;
  font-weight: 600;
  margin: 8px;
}

/* ==========
8 BALL
========== */
.ball-black {
  width: 400px;
  height: 400px;
  background-color: #000;
  border-radius: 50%;
  border-color: #F5F5F5;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 50px;
  box-shadow:
    inset 0 0 50px #696969, /* inner dim gray */
    inset 20px 0 80px #000, /* inner left black short */
    inset -20px 0 80px #400080, /* inner right deep purple short */
    inset 20px 0 300px #000, /* inner left black broad */
    inset -20px 0 300px #400080, /* inner right deep purple broad */
    0 0 20px 10px #F5F5F5, /* outer white */
    0 0 40px 15px #c0c, /* outer left magenta */
    0 0 60px 20px #0ff; /* outer right cyan */
}

.ball-white {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.holding-text {
  width: 90px;
  color: #000;
  border-radius: 50%;
  text-align: center;
  font-weight: 800;
  font-size: 160px;
  margin: 0;
}

.answer-text {
  width: 90px;
  color: #000;
  border-radius: 50%;
  text-align: center;
  font-weight: 800;
  font-size: 18px;
  margin: 0;
}

/* ==========
USER INPUT
========== */
.user-input {
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-question {
  width: 50%;
  margin: 8px;
}

.btn {
  color: #fff;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #8000ff;
  margin: 8px;
}

.btn:hover {
  background-color: #400080;
  border-color: #8000ff;
}

/* ==========
VALIDATION ERROR MESSAGE
========== */
.error-message-text {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  margin: 8px;
}

.error-message-text p {
  margin: 0;
}

.error-message-display {
  display: none;
}

/* ==========
FOOTER
========== */
.footer {
  flex-shrink: 0;
  text-align: center;
  margin: 8px;
  color: #DCDCDC;
}

.copyright {
  font-family: 'Orbitron', sans-serif;
  background-color: rgba(0, 0, 0, 0.1);
}

.copyright p {
  margin-bottom: 0;
}

/* ==========
ANIMATION
========== */
.animate {
  animation-name: shake;
  animation-duration: 0.9s;
  animation-iteration-count: 1;
}

@keyframes shake{
  0% {transform:translateX(0px);}
  10%{transform:translateX(5px);}
  20%{transform:translateX(-5px);}
  30%{transform:translateX(15px);}
  40%{transform:translateX(-15px);}
  50%{transform:translateX(25px);}
  60%{transform:translateX(-25px);}
  70%{transform:translateX(15px);}
  80%{transform:translateX(-15px);}
  90%{transform:translateX(5px);}
  100%{transform:translateX(0px);}
}

/* ==========
MEDIA QUERIES PORTRAIT ORIENTATION
========== */
@media (orientation: portrait) and (max-width:339px) {
  /* Header */
  .heading h1 {
    font-size: 30px;
    margin: 16px 0 6px 0;
  }
  
  .heading p {
    font-size: 14px;
    margin: 6px 18px;
  }

  /* 8 Ball */
  .ball-black {
    width: 260px;
    height: 260px;
    margin: 20px;
  }
  
  .ball-white {
    width: 125px;
    height: 125px;
  }
  .holding-text {
    width: 60px;
    font-size: 100px;
  }
  
  .answer-text {
    width: 60px;
    font-size: 14px;
  }

  /* Validation Error Message */
  .error-message-text {
    font-size: 14px;
  } 

  /* Footer */
  .footer {
    font-size: 10px;
  }
}

@media (orientation: portrait) and (min-width: 330px) and (max-width:480px) {
  /* Header */
  .heading h1 {
    font-size: 40px;
    margin: 18px 0 6px 0;
  }
  
  .heading p {
    font-size: 16px;
    margin: 6px 24px;
  }

  /* 8 Ball */
  .ball-black {
    width: 300px;
    height: 300px;
    margin: 30px;
  }
  
  .ball-white {
    width: 135px;
    height: 135px;
  }
  .holding-text {
    width: 80px;
    font-size: 120px;
  }
  
  .answer-text {
    width: 80px;
    font-size: 16px;
  }

  /* Validation Error Message */
  .error-message-text {
    font-size: 16px;
  }

  /* Footer */
  .footer {
    font-size: 11px;
  }
}

@media (orientation: portrait) and (min-width: 481px) and (max-width: 768px) {
  /* Header */
  .heading h1 {
    font-size: 50px;
    margin: 24px 0 8px 0;
  }
  
  .heading p {
    font-size: 18px;
    margin: 8px 30px;
  }

  /* 8 Ball */
  .ball-black {
    width: 360px;
    height: 360px;
    margin: 30px;
  }
  
  .ball-white {
    width: 165px;
    height: 165px;
  }
  .holding-text {
    width: 85px;
    font-size: 140px;
  }
  
  .answer-text {
    width: 85px;
    font-size: 18px;
  }

  /* Validation Error Message */
  .error-message-text {
    font-size: 18px;
  }

  /* Footer */
  .footer {
    font-size: 12px;
  }
}

/* ==========
MEDIA QUERIES LANDSCAPE ORIENTATION
========== */
@media (orientation: landscape) and (max-height:339px) {
  /* Header */
  .heading h1 {
    font-size: 20px;
    margin: 12px 0 6px 0;
  }
  
  .heading p {
    font-size: 14px;
    margin: 2px 12px;
  }
  
  /* 8 Ball */
  .ball-black {
    width: 200px;
    height: 200px;
    margin: 16px;
  }
    
  .ball-white {
    width: 90px;
    height: 90px;
  }
  .holding-text {
    width: 50px;
    font-size: 80px;
  }
    
  .answer-text {
    width: 50px;
    font-size: 14px;
  }

  /* User Input */
  .user-question {
    width: 75%;
    font-size: 14px;
    margin: 4px;
  }
    
  .btn {
    font-size: 14px;
    margin: 4px;
  }
  
  /* Validation Error Message */
  .error-message-text {
    font-size: 14px;
  } 

  /* Footer */
  .footer {
    font-size: 12px;
  }
}

@media (orientation: landscape) and (min-height: 330px) and (max-height:480px) {
  /* Header */
  .heading h1 {
    font-size: 32px;
    margin: 12px 0 6px 0;
  }

  .heading p {
    font-size: 14px;
    margin: 2px 12px;
  }

  /* 8 Ball */
  .ball-black {
    width: 260px;
    height: 260px;
    margin: 20px;
  }
    
  .ball-white {
    width: 125px;
    height: 125px;
  }
  .holding-text {
    width: 60px;
    font-size: 100px;
  }
    
  .answer-text {
    width: 60px;
    font-size: 14px;
  }

  /* User Input */
  .user-question {
    width: 75%;
    font-size: 14px;
    margin: 4px;
  }

  .btn {
    font-size: 14px;
    margin: 4px;
  }

  /* Validation Error Message */
  .error-message-text {
    font-size: 14px;
  } 

  /* Footer */
  .footer {
    font-size: 12px;
  }
}

@media (orientation: landscape) and (min-height: 481px) and (max-height: 768px) {
  /* Header */
  .heading h1 {
    font-size: 50px;
    margin: 24px 0 8px 0;
  }
  
  .heading p {
    font-size: 18px;
    margin: 8px 30px;
  }

  /* 8 Ball */
  .ball-black {
    width: 360px;
    height: 360px;
    margin: 30px;
  }
  
  .ball-white {
    width: 165px;
    height: 165px;
  }
  .holding-text {
    width: 85px;
    font-size: 140px;
  }
  
  .answer-text {
    width: 85px;
    font-size: 18px;
  }

  /* Validation Error Message */
  .error-message-text {
    font-size: 18px;
  }

  /* Footer */
  .footer {
    font-size: 12px;
  }
}