/* ==========
GOOGLE FONT
========== */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron&display=swap');

/* ==========
GENERAL
========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
html {
  height: 100%;
}
  
body {
  background: url("../images/8-ball-background.webp") no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  min-height: 100%;
  color: #fff;
}

/* ==========
NAVBAR
========== */
.navbar {
  width: 100%;
  text-align: end;
  background-color: #181818;
}

.navbar-brand {
  font-family: 'Orbitron', sans-serif;
  color: #A9A9A9;
}

/* ==========
HEADER
========== */

.heading h1 {
  font-style: italic;
  font-size: 60px;
  font-weight: 700;
  margin: 10px;
}

.heading p {
  font-size: 20px;
  font-weight: 600;
  margin: 8px;
}

/* ==========
USER INPUT
========== */
.btn {
  color: #fff;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #8000ff;
}

.btn:hover {
  background-color: #400080;
  border-color: #8000ff;
}

/* ==========
8 Ball
========== */
.ball-black {
  width: 400px;
  height: 400px;
  background-color: #000;
  border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.ball-white {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#answer {
  width: 90px;
  color: #000;
  border-radius: 50%;
  text-align: center;
  font-weight: 800;
  font-size: 120px;
  margin: 0;
}

/* ==========
FOOTER
========== */

footer {
  width: 100%;
  text-align: center;
  margin: auto;
}

.copyright {
  font-family: 'Orbitron', sans-serif;
  background-color: #181818;
  color: #A9A9A9;
}

.copyright p {
  margin-bottom: 0;
}